---
import Title from "../../basic/Title.astro";
import LazyImage from "../../basic/LazyImage.astro";
import { extendClass } from "../../../utils";

export interface Props {
    className?: string;
    title?: string;
    description?: string;
    visual: ImageMetadata;
}

const { title, description, visual, className } = Astro.props;
const animation = `duration-300 ease-linear`;
---

<div
    class={extendClass(
        `${animation} group relative overflow-hidden rounded-lg h-full`,
        className,
        true,
    )}
>
    <LazyImage
        src={visual}
        alt="Hero"
        class={`object-cover ${animation} group-hover:scale-125 w-full h-full`}
    />
    <div
        class={`absolute top-0 h-full w-full bg-gradi bg-linear-to-b from-black/20 to-black/60 ${animation}`}
    >
    </div>
    <!-- <div
        class={`absolute flex flex-col bottom-0 w-full translate-y-[calc(100%-7.5rem)] group-hover:translate-y-0 content-center ${animation}`}
    >
        <div class={`m-6 text-white ${animation}`}>
            <Title level="3" className="mb-0">
                {title}
            </Title>
        </div>
        <div
            class={`self-baseline m-6 opacity-0 group-hover:opacity-100 ${animation}`}
        >
            <div class="text-md text-white">
                {description}
            </div>
        </div>
    </div> -->
</div>
