---
import CompanyImg from "../assets/images/IMG_6631.jpg";
import Layout from "../layouts/Layout.astro";
import NavHeader from "../components/NavHeader.astro";
import NavFooter from "../components/NavFooter.astro";
import Container from "../components/Container.astro";
import Title from "../components/basic/Title.astro";
import LazyImage from "../components/basic/LazyImage.astro";
import { KEY_SERVICES, INNOVATIONS, TESTIMONIALS, SITE } from "../consts";

const {
    company,
    headNavigations,
    footNavigations,
    footerDescription,
    foundedTime,
    address,
    call,
    email,
    site,
    board,
    paidInCapital,
    services,
} = SITE;
---

<Layout>
    <NavHeader navigations={headNavigations} />
    <main class="py-24 bg-accent-50">
        <Container className="flex gap-11">
            <LazyImage
                src={CompanyImg}
                alt="Company Logo"
                className="w-3xs h-60 object-cover rounded-2xl"
            />
            <div>
                <Title
                    level="s-1"
                    className="border-l-4 border-primary pl-2 mb-10"
                    >About Us</Title
                >
                <div
                    class="grid grid-cols-[200px_auto] mb-20 border-t border-accent-200 *:px-5 *:py-2 *:border-b *:border-inherit [&>span]:odd:text-right [&>span]:odd:border-r text-[18px]"
                >
                    <span>企业名称</span>
                    <span>{company}</span>
                    <span>创建时间</span>
                    <span>{foundedTime}</span>
                    <span>董事会成员</span>
                    <span>{board}</span>
                    <span>起始金额</span>
                    <span>{paidInCapital}</span>
                    <span>联系方式</span>
                    <ul>
                        <li>
                            <span>邮箱: {email}</span>
                        </li>
                        <li>
                            <span>电话: {call}</span>
                        </li>
                    </ul>
                    <span>地址</span>
                    <span>{address}</span>
                    <span>业务内容</span>
                    <ul>
                        {
                            services.map((s) => (
                                <li>
                                    <span>{s}</span>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <Title
                    level="s-1"
                    className="border-l-4 border-primary pl-2 mb-10"
                    >创始成员</Title
                >
                <div></div>
            </div>
        </Container>
    </main>
    <NavFooter
        company={company}
        footerDescription={footerDescription}
        navigations={footNavigations}
    />
</Layout>
