---
import Layout from "../layouts/Layout.astro";
import NavHeader from "../components/NavHeader.astro";
import NavFooter from "../components/NavFooter.astro";
import Container from "../components/Container.astro";
import Title from "../components/basic/Title.astro";
import CtaButton from "../components/CtaButton.astro";
import { SITE } from "../consts";

const { company, headNavigations, footNavigations, footerDescription } = SITE;
---

<Layout>
    <NavHeader navigations={headNavigations} className="bg-accent-50" />
    <main class="py-24 bg-accent-50">
        <Container>
            <Title level="s-1" className="border-l-6 border-primary pl-2 mb-10"
                >お問い合わせ先</Title
            >
            <div class="flex max-md:flex-col gap-12">
                <div class="basis-1/3">
                    <p>{SITE.address}</p>
                    <p>{SITE.email}</p>
                    <p>{SITE.call}</p>
                </div>
                <form class="basis-2/3">
                    <!-- Grid de dos columnas -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Nombre -->
                        <div class="flex flex-col">
                            <input
                                type="text"
                                id="nombre"
                                name="firstName"
                                placeholder="お名前（必須）"
                                class="border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#F9C74F]"
                                required
                            />
                        </div>

                        <!-- Correo -->
                        <div class="flex flex-col">
                            <input
                                type="email"
                                id="correo"
                                name="email"
                                placeholder="メールアドレス（必須）"
                                class="border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#F9C74F]"
                                required
                            />
                        </div>

                        <!-- Teléfono -->
                        <div class="flex flex-col">
                            <input
                                type="tel"
                                id="telefono"
                                name="phoneNumber"
                                placeholder="電話番号"
                                class="border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#F9C74F]"
                            />
                        </div>
                    </div>

                    <!-- Mensaje -->
                    <div class="flex flex-col mt-6">
                        <textarea
                            id="mensaje"
                            name="mensaje"
                            rows="10"
                            placeholder="具体的なお問い合わせ内容"
                            class="border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-primary resize-none"
                            required></textarea>
                    </div>

                    <!-- Botón -->
                    <div class="text-center md:text-right mt-4">
                        <CtaButton>送信する</CtaButton>
                    </div>
                </form>
            </div>
        </Container>
    </main>
    <NavFooter
        company={company}
        footerDescription={footerDescription}
        navigations={footNavigations}
    />
</Layout>
