---
import HeroImg from "../assets/images/shutterstock.jpg";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import NavHeader from "../components/NavHeader.astro";
import NavFooter from "../components/NavFooter.astro";
import KeyServices from "../components/sections/KeyServices.astro";
import ServiceCard from "../components/sections/components/ServiceCard.astro";
import LatestInnovations from "../components/sections/LatestInnovations.astro";
import InnovationCard from "../components/sections/components/InnovationCard.astro";
import CustomerTestimonials from "../components/sections/CustomerTestimonials.astro";
import TestimonialCard from "../components/sections/components/TestimonialCard.astro";
import ContactUs from "../components/sections/ContactUs.astro";
import { KEY_SERVICES, INNOVATIONS, TESTIMONIALS, SITE } from "../consts";

const {
    company,
    headNavigations,
    footNavigations,
    footerDescription,
    value,
    mission,
} = SITE;
---

<Layout>
    <NavHeader navigations={headNavigations} />
    <main class="flex flex-col overflow-hidden">
        <!-- Hero Section: -->
        <!-- High-quality image or animation of renewable energy sources. -->
        <!-- Headline and subheading centered on the page. -->
        <Hero
            heroImg={HeroImg}
            title={value}
            leading={mission}
            buttonText="联系我们"
        />
        <i id="under-first-screen"></i>
        <KeyServices
            title={KEY_SERVICES.title}
            section={KEY_SERVICES.section}
            leading={KEY_SERVICES.leading}
        >
            {KEY_SERVICES.services.map((props) => <ServiceCard {...props} />)}
        </KeyServices>
        <!-- Key Services Overview: -->
        <!-- Provide a brief overview of your main green energy services. -->
        <!-- Use engaging visuals and concise text to highlight the benefits. -->
        <!-- Include a call-to-action button leading to detailed service information. -->

        <LatestInnovations
            title={INNOVATIONS.title}
            section={INNOVATIONS.section}
        >
            {
                INNOVATIONS.innovations.map((props, index) => (
                    <InnovationCard {...props} reverse={index % 2 === 0} />
                ))
            }
        </LatestInnovations>
        <!-- Latest Innovations: -->
        <!-- Highlight any recent advancements or innovations in your green energy solutions. -->
        <!-- Use images and concise descriptions to showcase your commitment to cutting-edge technology. -->
        <!-- Emphasize how staying with your company means staying at the forefront of green energy. -->

        <!-- <CustomerTestimonials
            title={TESTIMONIALS.title}
            section={TESTIMONIALS.section}
        >
            {
                TESTIMONIALS.testimonials.map((props) => (
                    <TestimonialCard {...props} />
                ))
            }
        </CustomerTestimonials> -->
        <!-- Customer Testimonials: -->
        <!-- Share testimonials from satisfied customers. -->
        <!-- Include photos, names, and brief quotes to build trust. -->
        <!-- Place a call-to-action to encourage users to explore more customer stories. -->
        <!-- <EnvironmentalImpact /> -->
        <!-- Environmental Impact: -->
        <!-- Showcase the positive impact users can make by choosing your services. -->
        <!-- Use statistics, infographics, or visuals to illustrate the environmental benefits. -->
        <!-- Emphasize the role your company plays in promoting sustainability. -->

        <!-- <FeaturedProjects /> -->
        <!-- Featured Projects or Case Studies: -->
        <!-- Showcase successful green energy projects your company has undertaken. -->
        <!-- Provide details on the impact and success of these projects. -->
        <!-- Encourage users to explore more about your company's achievements. -->

        <!-- <GetInvolved /> -->
        <!-- Get Involved Section: -->
        <!-- Invite users to actively participate or learn more about sustainability. -->
        <!-- Provide information on community initiatives, events, or partnerships. -->
        <!-- Include a call-to-action for users to join your community or subscribe to updates. -->
        <ContactUs
            className="mb-header"
            title={[{ text: "Join us" }, " in Building a Sustainable Future"]}
            leading="Discover our community initiatives aimed at promoting awareness and education on sustainable living. Join us in creating a positive impact together"
        />
    </main>
    <NavFooter
        company={company}
        footerDescription={footerDescription}
        navigations={footNavigations}
    />
</Layout>
